/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */
/*begin site styling*/
body {
	background-color: rgb(0, 19, 26);
}
/* begin horizontal nav styling*/

#navbar {
  position:fixed;
  z-index:10000;
  padding:0;
  margin:0;
	border-bottom: 1px solid rgb(0, 134, 179);
  top:-5px;
  left:-5px;
  width: 110%;
  height:100px;
  background-color: rgb(3, 34, 45);
}

#nav {
  position:absolute;
  left: 5%;
  top:12px;
  width:100%;
  height:50px;
  z-index: 100002;
}

#nav li {
	float:left;
}


#nav > li a:link {
  font-family: 'Exo 2', sans-serif;
  color: rgb(0, 134, 179);
  text-decoration:none;
  font-size: 1.25em;
  padding:30px;
  float:left;
}

#nav > li a:active {
  color:purple;
  text-decoration:underline;
}

#nav >li a:hover {
  color:rgb(0, 168, 230);
  font-size:1.3em;
}

#nav > li a:visited {
  color:white;
}

/*end horizontal nav styling*/
/* begin basic content styling */

#intro-text {
	position:relative;
	top:50px;
	margin-left: auto;
	margin-right:auto;
	border-bottom:1px solid rgb(0, 134, 179);
	width:80%;
	height:auto;
	padding:5px;
	color:white;
	font-family: 'Exo 2', sans-serif;
	text-align:center;
	line-height:50px;


}

#para {
	position:relative;
	width:80%;
	height:auto;
	border-bottom: 1px solid rgb(0, 134, 179);
	margin-left:auto;
	margin-right:auto;
	top:55px;
	color: rgb(210, 210, 210);
	font-family: 'Exo 2', sans-serif;
	text-align:center;
	line-height:25px;
}

#para2 {
	position:relative;
	width:80%;
	height:auto;
	border-bottom: 1px solid rgb(0, 134, 179);
	margin-left:auto;
	margin-right:auto;
	top:55px;
	color: rgb(210, 210, 210);
	font-family: 'Exo 2', sans-serif;
	font-size:1.25em;
	text-align:left;
	line-height:25px;
}
#para2 > ol {
	list-style-type: decimal;
}

#para3 {
	position:relative;
	width:80%;
	height:auto;
	border-bottom: 1px solid rgb(0, 134, 179);
	margin-left:auto;
	margin-right:auto;
	top:75px;
	color: rgb(210, 210, 210);
	font-family: 'Exo 2', sans-serif;
	font-size:1.25em;
	text-align:left;
	line-height:25px;

}
/*end basic content styling*/
/*begin news styling*/

#news {
	position:relative;
	top:100px;
	margin-left: auto;
	margin-right:auto;
	width:80%;
	height:auto;
	padding:5px;
	color:white;
	font-family: 'Exo 2', sans-serif;
	text-align:left;
	line-height:50px;
}

#news-item {
	position:relative;
	width:80%;
	height:auto;
	background-color: rgb(3, 34, 45);
	margin-left:auto;
	margin-right:auto;
	padding: 20px;
	top:70px;
	color: rgb(210, 210, 210);
	font-family: 'Exo 2', sans-serif;
	text-align:left;
	line-height:25px;
}

/*end news styling*/
/*begin guide styling*/

#spawnquiz {
	float:right;
	margin: 10px;
}

#spawnimg {
	float:left;
	margin:10px;
}

#starter {
	float:left;
	margin:10px;
}

#claim1 {
	margin:10px;
	float:left;
}

#claim2 {
	float:right;
	margin:10px;
}

#claim3 {
	float:left;
	margin:10px;
}

#table1 > table, th, td {
   border: 1px solid white;
	 width:20%;
}

#table2 > table, th, td {
	border: 1px solid white;
	width:50%;
}

/*end guide styling*/
/*begin contact styling*/

#information {
	width:100%;
	height:500px;
	position:relative;
	top:20px;
}

#discord {
	position:relative;
	top: 20px;
	width: 300px;
	height: 250px;
	margin-left: 22%;
	margin-right: 50px;
	float:left;
	border-bottom: 1px solid rgb(0, 134, 179);
}

#twitter {
	position:relative;
	top:20px;
	width: 300px;
	height: 250px;
	margin-left: 50px;
	float:left;
	border-bottom: 1px solid rgb(0, 134, 179);
}

#text {
	position:relative;
	height:250px;
	width:100%;
}

/*begin footer styling*/

#footer {
	position:relative;
	bottom: 0;
	margin-top: 200px;
	width: 100%;
	height:175px;
	text-align:center;
	background-color: rgb(3, 34, 45);
	border-top: 1px solid rgb(0, 134, 179);
}

#navf > li a:link {
  font-family: 'Exo 2', sans-serif;
  color: rgb(0, 134, 179);
  text-decoration:none;
  font-size: 1em;
  padding:30px;
  float:left;
}

#navf > li a:active {
  color:purple;
  text-decoration:underline;
}

#navf >li a:hover {
  color:rgb(0, 168, 230);

}

#navf > li a:visited {
  color:white;
}

#navf {
	width: 575px;
	height: 70px;
	margin-left: auto;
	margin-right:auto;

}

#navf2 {
	width: 444px;
	height: 60px;
	margin-left: auto;
	margin-right:auto;
	text-align:center;

}

#navf2 > li a:link {
  font-family: 'Exo 2', sans-serif;
  color: rgb(0, 134, 179);
  text-decoration:none;
  font-size: 1em;
  padding:30px;
  float:left;
}

#navf2 > li a:active {
  color:purple;
  text-decoration:underline;
}

#navf2 >li a:hover {
  color:rgb(0, 168, 230);

}

#navf2 > li a:visited {
  color:white;
}
